target
.classpath
.project
.settings
**/target/
nbactions*.xml
**/nbactions*.xml
nb-configuration*.xml
**/nb-configuration*.xml
.classpath
.Rhistory

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*/target/**
de.hsos.richwps.dsl_lib
*/src-gen/**
!rola-api/libs
rola-core/de.hsos.richwps.dsl_lib
rola-core/xtext/de.hsos.richwps.dsl/src-gen